@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0%;
  padding: 0%;
}

body{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
nav{
  padding: 30px;
}
.text{
  font-size:20px;
  text-align: center;
}

.searchBar{
  display: flex;
  justify-content: center;
  margin-top: 22px;
}
.searchBar input{
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #e9e7e7 ;
}
.searchBar button{
  width: 90px;
  height:38px;
  border: none;
  background-color: #0c9292;
  color: white;
  font-size: 20px;
  border-radius: 4px;
  margin-inline: 17px;
}

@media screen and (max-width: 470px){
  .searchBar button{
    font-size: 15px;
    margin-inline: 5px;
  }
}

@media screen and (max-width: 370px){
  .searchBar input{
    width: 90%;
  }
}